/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* 兼容旧版 Safari */
    filter: progid:DXImageTransform.Microsoft.BasicImage(graysale=1); /* 兼容旧版 IE */
}
